* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main-header {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 20px 250px 0px 250px;
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  align-items: center;
}

.main-logo {
  font-size: 30px;
  font-weight: bold;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  display: inline;
  padding: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #1f2937;
  padding: 100px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
}

.header-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  padding-bottom: 5px;
}

.header-subtext {
  padding-bottom: 8px;
}

.signup-button {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  background-color: #3882f6;
  border: none;
  padding: 5px 30px;
  border-radius: 10px;
}

.header-image {
  height: 281px;
  width: 500px;
  border-radius: 15px;
}

.random {
  background-color: white;
  padding: 50px 0 100px 0;
}

.random-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding-bottom: 70px;
}

.random-content {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.image-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 18px;
}

.placeholder {
  height: 210px;
  width: 210px;
  border: 5px solid #3882f6;
  border-color: #3882f6;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.random-image {
  height: 100%;
  width: 100%;
}

.quote {
  height: 500px;
  width: 100%;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-body {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  text-align: center;
}
